$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* color scheme: http://www.color-hex.com/color-palette/1523 */

#island-scroller {
  width: 100%;
  height: 80vh;
  overflow: scroll;
  position: relative;
  .poi-marker {
    position: absolute;
    top: 0;
    left: 0;
  }
  #island-holder {
    transform-origin: 0 0;
    .map-overlay {
      transform: translateZ(1000px);
    }
    .island-overlay {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .tile-holder {
    white-space: nowrap;
    line-height: 0;
    img {
      border: 1px solid #ccc;
    }
  }
}

#island-roadmap{
  position:relative;
  background: #0183A6;
  #map-position {
    transform: translateZ(1000px);
  }
  #island-detail-position {
    position: absolute;
    top: 0;
    left: 0;
  }

  .map-canvas{
    border: 5px solid #E2C792;
    background: #c4ac7c;
  }

  .positioning-holder{
    position:relative;

    .map-overlay{
      position:absolute;
      top:0;
      left: 0;
    }

    .island-selector{
      position:absolute;
    }
  }

  .oridomi-active{
    pointer-events: none;
  }

}
