$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
/* color scheme: http://www.color-hex.com/color-palette/1523 */
#island-scroller {
  width: 100%;
  height: 80vh;
  overflow: scroll;
  position: relative;
  .poi-marker {
    position: absolute;
    top: 0;
    left: 0;
  }
  #island-holder {
    transform-origin: 0 0;
    .map-overlay {
      transform: translateZ(1000px);
    }
    .island-overlay {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .tile-holder {
    white-space: nowrap;
    line-height: 0;
    img {
      border: 1px solid #ccc;
    }
  }
}
/************
Real Example
*************/
#island-roadmap {
  position: relative;
  background: #0183A6;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .back-to-map {
    position: fixed;
    top: 0;
    right: 0;
    width: 13vw;
    height: 100vh;
  }
  #map-position {
    transform: translateZ(1000px);
    .tile-holder img {
      border: 1px dashed #A29670;
    }
    .map-name {
      width: 100vh;
      text-align: center;
      position: absolute;
      bottom: 0;
      font-size: 3.2vh;
      color: #7C7858;
      font-family: serif;
      font-weight: bold;
    }
    .info-block{
      margin: 20px;
      padding: 1px;
    }
  }
  #island-detail-position {
    position: absolute;
    top: 0;
    left: 0;
    .island-poi-marker {
      position: absolute;
      margin-left: -1.35em;
    }
  }
  .map-canvas {
    border: 5px solid #E2C792;
    background: #c4ac7c;
  }
  .positioning-holder {
    position: relative;
    pointer-events: none;
    .island-info-area {
      text-align: center;
      padding: 10px;
      overflow-y: scroll;
      max-height: 100%;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */
      }

      .is-rp-title{
        font-size: 1.1em;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        padding-bottom: 0.2em;
      }
    }
    #map-info {
      position: absolute;
      top: 0;
      right: 0;
      width: 40vw;
      height: 100%;
      color: #2F3D30;
    }
    #island-detail-info {
      position: absolute;
      top: 0;
      right: 13vw;
      width: 25vw;
      height: 100%;
      color: white;
      text-shadow: 0 1px 0 #002D39;
      .info-block {
        background: #046D89;
        width: 110%;
        margin: 2px;
        text-shadow: none;
        position: relative;
        animation: slideInRight 1s ease both;
        padding: 0.2em 10% 0 10%;

        &:before {
          content: '';
          position: absolute;
          height: 1em;
          width: 1em;
          background: yellow;
          left: -0.5em;
          top: 20%;
          margin-top: -0.5em;
          border-radius: 1em;
          font-size: 1.5em;
        }
      }
    }
    .map-overlay {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: auto;
      width: 100vw;
      height: 100vh;
    }
    .island-selector {
      position: absolute;
      cursor: pointer;
      .island-name {
        position: absolute;
        padding: 0.5em;
        text-align: center;
        color: #273728;
        width: 100%;
        font-family: serif;
        pointer-events: none;
      }
      &.island-next {
        .island-name {
          font-weight: bold;
        }
      }
      .island-pencil {
        pointer-events: none;
        position: absolute;
        path {
          stroke-width: 4px;
          stroke: #9e391a;
          stroke-linecap: round;
          fill: none;
          vector-effect: non-scaling-stroke;
        }
      }
    }
  }
  .oridomi-active {
    pointer-events: none;
  }
}
