<div>
  <img src="images/rm-flag.png" id="rm-finish-flag" class="hide" />
  <img src="images/rm-house.png" id="rm-house" class="hide" />
  <img src="images/rm-water.png" id="rm-water" class="hide" />
  <img src="images/rm-volc.png" id="rm-mount" class="hide" />

  <div class="row">
    <div class="col-xs-8">
      <div id="island-scroller">
        <div ng-style="{transform: 'scale('+islandCtrl.zoom+')'}">
          <div id="island-holder" ng-style="{width: (islandCtrl.size + islandCtrl.margin) + 'px'}"></div>

          <div class="poi-holder">
            <div ng-repeat="i in islandCtrl.islands">
              <div class="island-poi-marker animated bounceInDown" ng-repeat="p in i.islandData.roadPath" ng-style="{top: p.y, left: p.x}">
                {{p.poi.topicName }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <h2>Options</h2>
      <div class="">
        <label>Size
          <input ng-model="islandCtrl.size" type="number"/>
        </label>
      </div>
      <div class="">
        <label>seed
          <input ng-disabled="islandCtrl.random" ng-model="islandCtrl.seed" type="number"/>
          <input ng-model="islandCtrl.random" type="checkbox"/>
        </label>
      </div>
      <div class="">
        <label>outterPoints
          <input ng-model="islandCtrl.outterPoints" type="number"/>

        </label>
      </div>
      <div class="">
        <label>coastVar
          <input ng-model="islandCtrl.coastVar" type="number"/>

        </label>
      </div>
      <div class="">
        <label>roadPoints
          <input ng-model="islandCtrl.roadPoints" type="number"/>

        </label>
      </div>
      <div class="">
        <label>Zoom
          <input max="6" min="0.01" ng-model="islandCtrl.zoom" step="0.01" type="range"/>

        </label>
      </div>

      <div class="">
        <label>lowerBound
          <input max="2" min="0.1" ng-model="islandCtrl.lowerBound" step="0.01" type="number"/>

        </label>
      </div>
      <div class="">
        <label>higherBound
          <input max="2" min="0.1" ng-model="islandCtrl.higherBound" step="0.01" type="number"/>

        </label>
      </div>
      <div class="">
        <label>margin
          <input ng-model="islandCtrl.margin" type="number"/>

        </label>
      </div>
      <div class="">
        <label>breaks
          <input ng-model="islandCtrl.breaks" type="number"/>

        </label>
      </div>
      <div class="">
        <label>Map
          <input ng-model="islandCtrl.map" type="checkbox"/>

        </label>
      </div>

      <div class="btn btn-lg btn-success" ng-click="islandCtrl.drawIsland()">
        Redraw
      </div>
    </div>
  </div>

  <br/>
</div>
