<div id="island-roadmap">
  <div id="island-detail-position" class="positioning-holder">
    <div id="island-holder"></div>
  </div>

  <div id="map-position" class="positioning-holder">
    <div id="map-holder"></div>
    <div class="map-overlay" id="map-interaction-holder">

      <div class="island-selector" ng-click="islandCtrl.drawDetailIsland($index, true)" ng-repeat="t in islandCtrl.islands" ng-style="{top: (t.y - t.r) + 'px', left: (t.x - t.r) + 'px', height: (t.r * 2) + 'px', width: (t.r * 2) + 'px'}">
        Island Name
      </div>
    </div>
  </div>

  <button class="btn btn-info pull-right" ng-click="islandCtrl.openMap()">Show Map</button>
</div>
